.icon {
  width: 30px;
  height: 30px;
  object-fit: fill;
  cursor: pointer;
  margin-right: 10px;
}

.disableLink {
  pointer-events: none;
}

.disableLink > .icon {
  filter: grayscale(70%);
}

@media only screen and (max-width: 400px) {
  .icon {
    margin-right: 2px;
  }
}

.icon:hover {
  box-shadow: rgb(12, 244, 244) 0px 10px 30px -10px;
}
