.main {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  background: linear-gradient(
    to right bottom,
    var(--color-blue-1) 30%,
    white 70%,
    var(--color-blue-1)
  );
  margin-top: -0.8rem;
  padding-top: 0.8rem;
}

.content {
  border-left: 4px rgb(19, 168, 168) solid;
  border-right: 4px rgb(19, 168, 168) solid;
  min-height: 80vh;
  height: auto;
  padding: 10px;
  color: rgb(11, 113, 113);
  padding-bottom: 10vh;
}

/*
Because of module CSS .backdrop class mutates 
.backdrop => ._backdrop_unic_id
*/
@media only screen and (pointer: fine) {
  body:has([class*="backdrop"]) .main {
    grid-template-columns: 100px 1fr 115px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: 30px 1fr 30px;
  }
}
