.main {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right bottom,
    var(--color-blue-1) 30%,
    white 70%,
    var(--color-blue-1)
  );
  margin-top: -0.8rem;
  padding-top: 0.8rem;
}

.content {
  max-width: 80vw;
  min-height: 80vh;
  padding: 0.625rem;
  color: rgb(11, 113, 113);
  margin-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
  .main {
    max-width: 90vw;
  }
}
