.title {
  text-align: center;
  font-weight: 600;
}

.center {
  text-align: center;
}

.pageContainer {
  width: 100%;
}

.elementsAligned {
  display: flex;
  align-items: center;
  gap: 4px;
}

.flag {
  width: 2em;
  height: 1.5em;
  border-radius: 17%;
  margin-right: 5px;
}

.divSection {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-top: 2px rgb(19, 168, 168) solid;
}

.divSection > h3 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.divSection > ul {
  margin-top: 0;
}

.divColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.no-margin-y {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.listSquare {
  list-style-type: square;
}

.description {
  display: block;
  margin: 5px;
  text-align: justify;
}

.linkInfo {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  width: max-content;
  vertical-align: middle;
  border: 3px rgb(16, 141, 141) solid;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.5s;
  user-select: none;
}

.linkEducation {
  transform: translate(20%, -30%);
}

.linkInfo:hover {
  color: rgb(41, 221, 221);
  background-color: rgb(16, 141, 141);
  cursor: pointer;
}

.linkInfo:active {
  transition: all 0.5s;
  transform: translateY(0.5rem);
}

.pCvCtn {
  margin-top: 0;
}

@media all and (max-width: 450px) {
  .description {
    text-align: left;
  }
}

.myPhoto {
  display: inline-block;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 20rem;
  width: 14rem;
  padding-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  filter: drop-shadow(2px 3px 7px black);
}
