.title {
  text-align: center;
  font-weight: 600;
}

.profileTitle {
  font-size: 1.65rem;
  font-weight: 700;
}

.center {
  text-align: center;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  background-color: rgba(255, 247, 247, 0.48);
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(180, 180, 186, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.profileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 4rem;
  padding: 5rem 1rem 8rem;
  background-image:
    linear-gradient(
      to bottom,
      rgba(11, 113, 113, 0.75) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url(/assets/tech_background.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  letter-spacing: 1px;
  align-items: center;
  font-weight: 700;
}

.cvLinkCtn {
  margin-top: 1rem;
}

.elementsAligned {
  display: flex;
  align-items: center;
  gap: 4px;
}

.flag {
  width: 2em;
  height: 1.5em;
  border-radius: 17%;
  margin-right: 5px;
}

.divSection {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-top: 2px rgb(19, 168, 168) solid;
}

.divSection > h3 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.divSection > ul {
  margin-top: 0;
}

.divColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.no-margin-top {
  margin-top: 0px;
}

.softSkillsCtn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-row: max-content;
  list-style-type: disc;
  row-gap: 0.2rem;
  column-gap: 5rem;
}

@media only screen and (max-width: 500px) {
  .softSkillsCtn {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
}

.description {
  display: block;
  margin: 5px;
  text-align: justify;
}

.linkInfo {
  color: inherit;
  text-decoration: none;
  width: max-content;
  border: 3px rgb(16, 141, 141) solid;
  padding: 4px 8px;
  padding-top: 2px;
  border-radius: 0.85rem;
  transition: all 0.5s;
  user-select: none;
}

.linkEducation {
  margin-top: -1rem;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.linkInfo:hover {
  color: rgb(41, 221, 221);
  background-color: rgb(16, 141, 141);
  cursor: pointer;
}

.linkInfo:active {
  transition: all 0.5s;
  transform: translateY(0.5rem);
}

.ctnCenter {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 450px) {
  .description {
    text-align: left;
  }
}

.myPhoto {
  display: inline-block;
  margin: 20px;
  margin-bottom: 1.35rem;
  height: 20rem;
  width: 14rem;
  padding-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5.5%;
  background-color: rgba(75, 162, 162, 0.45);
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  filter: drop-shadow(2px 3px 7px black);
}

.noMargin {
  margin: 0;
}
