.jobSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.5rem;
  padding-top: 0;
  padding-bottom: 8vh;
}

@media only screen and (max-width: 1000px) {
  .jobSection {
    padding: 1.5rem;
  }
}
