.noPageCtn {
  display: flex;
  justify-content: center;
}

.noPage {
  background: radial-gradient(white, rgba(91, 198, 198, 0.5));
  color: rgb(7, 112, 112);
  border: 2px solid;
  border-radius: 10px;
  height: 30em;
  width: 60%;
  padding: 0.6rem;
}

.noPage h1 {
  text-align: center;
}

span.red {
  color: red;
}

.emoji {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0px 0px 3px black;
}

@media all and (max-width: 800px) {
  .noPage {
    width: 80%;
  }
}
