.personalContact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactsHeader {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.phoneNationality {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 10px;
}

.mailAddress {
  margin-left: 3px;
  margin-right: 10px;
}

.standardFont {
  font-weight: 600;
}

.divRowCentered {
  display: flex;
  align-items: center;
  line-height: 1rem;
}

.icon {
  transform: translateY(2px);
  margin-right: 3px;
}

.contactLink,
.contactLink:link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  display: inline-block;
  transform: translateY(2px);
  transition: text-shadow 0.4s;
}

.contactLink:hover {
  text-shadow: 1px 0px 10px rgb(15, 153, 153);
}

.noBulletList {
  list-style-type: none;
  padding-left: 7px;
}

.noBulletList li:last-child {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.submitBtn {
  background-color: rgb(91, 201, 201);
  border: 1px solid rgb(8, 122, 122);
  color: rgb(8, 122, 122);
  letter-spacing: 0.5px;
  font-weight: 800;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  outline: none;
}

.submitBtn:hover,
.submitBtn:focus,
.submitBtn:disabled {
  color: var(--color-cyan-1);
  background-color: var(--color-blue-4);
}

.submitBtn:active {
  transform: translateY(8px);
}

.submitBtn:disabled {
  cursor: default;
  transform: none;
  opacity: 0.7;
}

.noBulletList li {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 10px;
}

.noBulletList li input {
  border-radius: 5px;
  border: 2px rgb(20, 140, 140) solid;
  height: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(80, 80, 80);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  outline: none;
  outline: none;
  transition: all 0.3s;
}

.noBulletList li input:focus,
.noBulletList li textarea:focus {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-color: rgb(11, 205, 226);
}

.noBulletList li textarea {
  border-radius: 10px;
  border: 2px rgb(20, 140, 140) solid;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(80, 80, 80);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 100%;
  padding: 5px;
  min-height: 10vh;
  height: 30vh;
  resize: vertical;
  outline: none;
}

.noBulletList li textarea::-webkit-scrollbar {
  padding: 5px;
  width: 12px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.noBulletList li textarea::-webkit-scrollbar-thumb {
  cursor: grab;
  border-radius: 10px;
  background-color: rgb(19, 168, 168);
}

.noBulletList li input::-webkit-input-placeholder,
.noBulletList li textarea::-webkit-input-placeholder {
  color: rgb(159, 159, 159);
}

.noBulletList li input::-moz-placeholder,
.noBulletList li textarea::-moz-placeholder {
  color: rgb(169, 167, 167);
}

.noBulletList li input::-ms-placeholder,
.noBulletList li textarea::-ms-placeholder {
  color: rgb(169, 167, 167);
}

.noBulletList li input::placeholder,
.noBulletList li input::placeholder {
  color: rgb(169, 167, 167);
}

.redSpan {
  color: rgb(216, 53, 53);
  font-size: 16px;
  font-weight: 800;
}

.errorSpan {
  color: rgb(216, 53, 53);
  font-size: 0.85rem;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .noBulletList li input {
    width: 60%;
  }
}
