.footerCtn {
  background-color: var(--color-blue-1);
  border: none;
  color: rgb(15, 137, 137);
  font-size: larger;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  min-height: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: none;
  backface-visibility: hidden;
}

.footer {
  flex: 1;
  background-color: var(--color-gray-1);
  border-top: 6px rgb(15, 137, 137) solid;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;
  gap: 10px;
}

.footer p {
  text-align: center;
}

.socialMedia {
  justify-self: end;
}

.socialMedia > * {
  margin-right: 2px;
}

.copyright {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .copyright {
    margin-left: 0;
  }
}
