footer {
  color: rgb(15, 137, 137);
  font-size: larger;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(75, 74, 73);
  position: relative;
  min-height: 10vh;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 6px rgb(15, 137, 137) solid;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;
  gap: 10px;
}

.footer p {
  text-align: center;
}

.socialMedia {
  justify-self: end;
}

.socialMedia > * {
  margin-right: 2px;
}
